// layout .pg
html 
    head 
        title mySalfGanesh 
        block script 
        block style 
    body
        section#navbar  
            div#meetme     
                |MEETME 
            div#haspbc
                ul 
                    li Home 
                    li About 
                    li Service 
                    li page 
                    li Blog 
                    li Contect 
        block content 
        block foot 
        footer#footer 
            div 
                |this is my self
    