*{
    padding: 0px;
    margin: 0px;
}

#navbar{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgb(51, 17, 17);
    color: white;
}
#meetme{
    font-size: 2rem;
    margin-top: 9px;
    margin-left: 8px;
}
#haspbc{
 
}
#haspbc ul{
    margin-left: 102px;
    margin-top: 17px;
}
#haspbc ul li{
    
    display: inline;
    margin-left: 70px;
    font-size: 1.5rem;
    list-style: none;

}
#navbar div ul{
   
}
#haspbc ul li a{
    
    font-style: normal;

}