// layout .pg
html 
    head 
        title mySalfGanesh 
        block script 
        block style 
    body
        section#navbar  
            div#meetme     
                |MEETME 
            div#haspbc
                ul 
                    li #[a(href ="/") Home] 
                    li #[a(href ="/") About]  
                    li #[a(href ="/") Service]  
                    li #[a(href ="/") page]  
                    li #[a(href ="/") Blog]  
                    li #[a(href ="/") Contect]  
        block content 
        block foot 
        footer#footer 
            div 
                |this is my self
    